<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dotcom.com.sam">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseThemMY">
        <activity
            android:name=".MainActivity"
            android:largeHeap="true"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".Categeory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductDatailAcitvity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".VetList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PetDoctor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VetProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PatientDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Diagnostics"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiagnosticForm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SingleMating"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdoptProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdoptForm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PetPhotography"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".PhotoMain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageViewerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Adoption"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BuyPetList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PetOldAgeHomeProfile"
            android:screenOrientation="portrait" />
        <activity android:name=".Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>